$background: #fcfcfc;
$background-header: #CF3A8C;
$border: #EEE;
$dark: #212121;
$light: #BDBDBD;
$highlight: #78909C;
$highlight-hover: #455A64;
$highlight-setup: #CFD8DC;
$white: #ffffff;
$white-bluegrey: lighten(#eceff1, 2%);
$black: #333333;
$mid-black: #666666;
$light-black: #999999;
$font: 'Cherry Swash', sans-serif;
$x-large-font-size: 24px;
$large-font-size: 21px;
$base-font-size: 16px;
$small-font-size: 14px;

//TITLE ANIMATIONS
@keyframes title,
{
  from {
    color: $border;
    margin-top: -220px;
  }
  to {
    color: $dark;
    margin-top: 0px;
  }
}

@mixin title {
  animation-name: title;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}



.clear {clear: both;}

body {
    padding: 60px 0px 0px 0px;
    margin: 0px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

// NAVIGATION /////////////////////////
nav {
    background: $white;
    opacity: .9;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;

    ul {
        width: 900px;
        margin: 0px auto;
        padding: 0px;
        list-style-type: none;



        li {
            transition: border .2s;
            float: left;
            margin-bottom: -3px;

            &.selected {
              border-bottom: 10px solid $highlight;
            }

            &.home {
                padding: 10px;

                a {
                  border-radius: 100px;
                  display: block;
                  line-height: 40px;
                  width: 40px;
                  background: $highlight;
                  color: $white-bluegrey;
                  font-family: $font;
                  text-align: center;
                  font-size: $x-large-font-size;
                  padding: 0px;
                }

                &:hover {
                  a {
                    background: $highlight-hover;
                  }
                }
            }
        }

        a {
            float: left;
            text-decoration: none;
            padding: 20px 28px;
            color: $light;
            text-transform: uppercase;
            font-size: $base-font-size;
        }
     }
}

// BILLBOARD /////////////////////////
header {
    background: center center no-repeat $highlight;
;
    background-size: 1200px;
    color: $white;
    padding: 40px 0px 0px 0px;
    border-bottom: 1px solid $border;
    position: relative;
    min-height: 45em;

    .title {
      text-align: center;
      color: $white-bluegrey;

      > h1 {
        font-size: 72px;
        font-family: $font;
        margin: 0;
      }

      > h5 {
        font-size: 18px;
        font-weight: 100;
        margin: 0 0 2em;
      }

    }

    .devices {
      margin-top: 80px;
      background: center center no-repeat;
      background-image: url(../images/forms-devices-optimized.svg);
      opacity: .3;
      min-height: 22em;
    }

    @media only screen and (max-width: 480px) {
      padding: 70px 0px 80px 0px;
        // .social-buttons {
        //     position: absolute;
        //     top: 20px;
        //     left: auto;
        //     bottom: auto;
        //     right: 20px;
        // }
    }
}

.form-download {
  position: relative;
}

.button-download {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 60px;
}

.social-forms {
  width: 300px;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 15px;

  .github-button {
    min-width: 90px;
  }




  //TODO: Re-enable twitter & facebook
  .twitter-share-form,
  .fb-like {
    display: none;
  }






}



// PAGE BODY /////////////////////////
#page {
    max-width: 920px;
    margin: 0px auto;
    margin-top: 80px;

    //BUTTON SHOWCASE /////////////////////////
    .showcase {
        border-radius: 10px;
        box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .10);
        background: $background;
        margin: 0px 10px 60px 10px;
        position: relative;

        hgroup {
            position: absolute;
            top: -30px;
            z-index: 1;

            h3 {
                font-family: $font;
                font-weight: lighter;
                color: $highlight-setup;
                font-size: $base-font-size;
                line-height: 30px;
                margin: 0px;
                padding: 0px;

                em {
                    font-size: 11px;
                    color: $light;
                    font-style: normal;

                    a {
                        color: $light;
                    }
                }
            }
        }

        .gallery {
            padding: 20px 20px 20px 20px;

            > ul {
                list-style-type: none;
                margin: 0px 0px 20px 0px;
                padding: 0;

                &:last-child {
                    margin-bottom: 0px;
                }

                > li {
                    margin: 5px;
                    display: inline-block;
                }
            }

            em {
                font-size: 11px;
                color: $light;
                font-style: normal;

                a {
                    color: $light;
                }
            }
        }

        .prettyprint {
            box-shadow:inset 0px 1px 3px rgba(0, 0, 0, .40);
            border-bottom-radius: 10px;
            background: $dark;
            padding: 10px 5px;
            margin: 0;
            font-size: 11px;
            line-height: $base-font-size;
            overflow: hidden;

            li.L1, li.L3, li.L5, li.L7, li.L9 {
                background: $dark;
            }
        }
    }
}


#setup {
    background: $highlight-setup;

    h2 {
        text-align: center;
        font-weight: 100;
        font-size: 60px;
        color: $mid-black;
        text-shadow: 0px 1px 0px $white;
        margin: 0px 0px 20px 0px ;
        line-height: 60px;

        @media only screen and (max-width: 480px) {
            font-size: 44px;
        }
    }
    h3 {
        color: $mid-black;
        font-size: 22px;
    }

    .instructions {
        max-width: 880px;
        padding: 40px 20px;
        margin: 0px auto;

        ol.steps {
            padding-left: 30px;
            > li {
                line-height: 22px;
                margin-bottom: 10px;
                color: $mid-black;
            }
        }

        em {
            font-size: $small-font-size;
        }
    }


    .prettyprint {
        box-shadow:inset 0px 1px 3px rgba(0, 0, 0, .40);
        border-radius: 3px;
        background: $dark;
        padding: 5px;
        margin: 0;
        font-size: 10px;
        line-height: $base-font-size;
        overflow: hidden;

        .linenums {
            padding-left: 20px;
        }

        li.L1, li.L3, li.L5, li.L7, li.L9 {
            background: $dark;
        }
    }

    .customize {
        float: right;
    }

    .setup {
        float: left;
    }
    .customize, .setup {
        width: 47%;
        text-align: left;

        @media only screen and (max-width: 480px) {
            float: none;
            width: auto;
            margin: 20px auto 40px auto;
        }
    }
}


footer {
    background: $highlight-hover;
    color: $white-bluegrey;
    padding: 20px;
    text-align: center;
    font-size: $small-font-size;
    letter-spacing: .06rem;

    a {
        color: $white;
    }
}







// MOBILE /////////////////////////


@media only screen and (max-width: 480px) {
    body {
        padding: 0px;
    }

    // NAVIGATION /////////////////////////
    nav {
        position: static;

        ul {
            width: auto;

            li {
                float: none;
                display: block;
                border-bottom: 1px solid #EEE;

                &.home {
                    padding: 10px;
                    margin: 5px auto;
                    a {
                        margin: 5px auto;
                    }
                }


                &.selected {
                    border-bottom: 1px solid #EEE;
                }

                a {
                    float: none;
                    display: block;
                    line-height: $x-large-font-size;
                    padding: 10px 20px;
                    font-size: $large-font-size;
                    text-align: center;
                }
            }
        }
    }
}
